<div{{ attributes }}>
    <!-- component html -->
    <div class="card data-card" id="card_1">
        <div class="card-header">
            <strong>Titel</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="card-img-top">
                        <img src="{{ asset('build/images/placeholder-image.png') }}" alt="text" class="img-fluid" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 bg-light py-2 d-block text-center">
                    <div class="mb-1 text-muted">
                        <small>Text</small>
                    </div>
                    <div class="font-weight-bolder">
                        <strong>Text</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-end">
            <a href="#" class="btn btn-sm func-btn">
                <i class="fa fa-pencil"></i>
            </a>
        </div>
    </div>
</div>
