{% extends 'base.html.twig' %}

{% block title %}parent() | Project index{% endblock %}

{% block main_content %}
    <h4>neues Projekt</h4>

    {{ include('project/_form.html.twig') }}

    <a href="{{ path('app_project_index') }}">back to list</a>
{% endblock %}
